<div class="form-field form-info"{{#if id}} id="{{id}}"{{/if}}>
<label>{{label}}</label>
{{#if time}}<time datetime="{{time.datetime}}">{{time.display}}</time>{{/if}}
{{#if text}}<span>{{text}}</span>{{/if}}
</div>