<div class="form-field form-submit"{{#if id}} id="{{id}}"{{/if}}>
<label{{#if id}} for="{{id}}-edit"{{/if}}>{{label}}</label>
<div>
<input type="submit"
{{#if id}}id="{{id}}-submit"{{/if}}
{{#if name}}name="{{name}}"{{/if}}
{{#if value}}value="{{value}}"{{/if}}
>
</div>
</div>
