<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{page_title}}</title>
  <link rel="icon" href="{{base_url}}/favicon.ico" sizes="any">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/site.css">
  {{#each stylesheets}}
  <link rel="stylesheet" type="text/css" href="{{../base_url}}/{{this}}">
  {{/each}}
  {{#if messages}}<script type="module" src="{{base_url}}/site-message.js"></script>{{/if}}
  {{#each scripts}}
  <script type="module" src="{{../base_url}}/{{this}}"></script>
  {{/each}}
</head>
<body{{#if pageid}} id="{{pageid}}"{{/if}}>
  <header>
  <a href="{{base_url}}/">{{sitename}}</a>
  {{> menu entries=sitemenu}}
  </header>

  {{#if tabs}}{{> menu tabs}}{{/if}}

  <main role="main" id="main-content">
    {{#each messages}}
    <aside class="site-message"><span class="text">{{this}}</span><span class="actions"><input type="button" value="✖️" title="dismiss" name="dismiss"></span></aside>
    {{/each}}
    {{#if page_title}}
      <header>
        <h1 class="title" id="page-title">{{page_title}}</h1>
      </header>
    {{/if}}

    {{{body}}}
  </main>

  {{> footer}}

  <aside id="header-left"></aside>
  <aside id="header-right"></aside>
</body>
</html>
